section {
  margin: 30px;
}
div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  clear: both;
  position: relative;
  padding: 5% 40%;
}

#photo-template {
  display: none;
}
